<!-- 2345 天气 -->
  <div class="widget-wrap">
    <h3 class="widget-title">天气</h3>
    <div class="widget tagcloud">
       <iframe allowtransparency="true" frameborder="0" width="140" height="203" scrolling="no" src="http://tianqi.2345.com/plugin/widget/index.htm?s=2&z=2&t=1&v=1&d=2&bd=0&k=000000&f=000000&q=1&e=0&a=1&c=54511&w=140&h=203&align=center"></iframe>
    </div>
  </div>

