<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <% if (config.since){ %><%= date(new Date(), 'YYYY') %> <% } %><%= config.author || config.title %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. My Theme based on <a href="http://github.com/ppoffice">PPOffice</a>
    </div>
  </div>
</footer>